:root{
---accent-color:#434455 ;

}

body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.link {
    text-decoration: none;
}
.list{
    list-style-type: none
}


/*------HEADER-------------*/

.header-title {
        color: #4D5AE5;
        font-size: 18px;
        font-family: Raleway;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.header-title-accent{
color: #2E2F42;
}

.header-list-link{
color:  #2E2F42;
font-size: 16px;
font-family: Roboto;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
}

.header-contacs-link{

color:  var(---accent-color);
font-size: 16px;
font-family: Roboto;
line-height: 1.15;
letter-spacing: 0.02em;
}

/*-----MAIN-FIRST------------*/
.main-first{
background-color:  #2E2F42;
}

.main-first-title{
color:  #FFF;
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
}

.main-first-btn{
background-color:  #4D5AE5;
color:  #FFF;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
}

/*-----MAIN-SECOND------------*/

.main-second-title{
        color:  #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.main-second-item{

        color:  var(---accent-color);
        font-size: 16px;
        font-family: Roboto;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/*-----MAIN-THIRD------------*/

.main-third{
    background-color: #FFF;
}

.main-third-title{
        color:  #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}

.main-third-computer{

    border: 1px solid var(--cornflower, #E7E9FC);
    background: url(<path-to-image>), lightgray -72.845px -19px / 144.444% 112.667% no-repeat;
}

.main-third-computer-smartphone{
    border: 1px solid var(--cornflower, #E7E9FC);
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

/*-----MAIN-FOURTH------------*/

.main-fourth{
background-color: #F4F4FD;
}
        


.fourth-title{
        color:  #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}
.fourth-background-Mark{
        background-color:  #FFFFFF;
        
}
.fourth-background-Tom{
        background: url(<path-to-image>),
        lightgray -335.01px -22.055px / 256.162% 173.614% no-repeat;

}
.fourth-subtitle{

    color:  #2E2F42;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.fourth-profession{
    color: #434455;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*-----FOOTER------------*/
.footer{

    background-color:  #2E2F42;
}

.footer-title{
        color:  #4D5AE5;
        font-size: 18px;
        font-family: Raleway;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.footer-title-accent{
        color:  #F4F4FD;
}
.footer-description{
    color:  #F4F4FD;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: -0.02em;
}