body{
    font-family: 'Roboto' sans-serif;
}

.header-title{
color:  #2E2F42;
font-size: 18px;
font-weight: 800;
line-height: 1.16;
letter-spacing: -0.03em;
}

.header-title-accent{
    color:  #4D5AE5;
}